<!-- <!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="preconnect" href="https://fonts.gstatic.com/"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="style.css" />
<title>InternFreak </title>
</head>
<body> --> 
   <div class="container">
       <h1 class="mb-4">New Article</h1>
       <form action ="/articles" method="POST">
        <form>
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input required type="text" id="title" name="title"class="form-control" <%= article.title %>  />
              <label class="form-label" for="title">Title</label>
            </div>
            <div class="form-outline mb-4">
                <input required type="text" id="category" name="category" <%= article.category %>/>
                <label class="form-label" for="category">Category</label>
              </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input required type="text" id="description" name="description" class="form-control"<%= article.description %> />
              <label class="form-label" for="description">Description</label>
            </div>
            <!-- <div class="form-outline mb-4">
              <input type="text" id="form4Example2" class="form-control" />
              <label class="form-label" for="form4Example2">Created At</label>
            </div> -->
          
            <!-- Message input -->
            <div class="form-outline mb-4">
              <input required type="text" id="writtenBy" name="writtenBy" class="form-control"<%= article.writtenBy %> />
              <label class="form-label" for="writtenBy">writtenBy</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
          </form>
       </form>
   </div>
   <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
   <!-- <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/tiny-slider.js"></script> -->
   <!-- <script src="js/glightbox.min.js%2baos.js%2bnavbar.js%2bcounter.js%2bcustom.js.pagespeed.jc.B7bFTsJZUK.js"></script><script>eval(mod_pagespeed_KpCH1a$C_m);</script> -->
   <!-- <script>eval(mod_pagespeed_Ej3jj9tqUo);</script>
   <script>eval(mod_pagespeed_Pkx$Oz4Gi9);</script>
   <script>eval(mod_pagespeed_9lpIcAXJZV);</script>
   <script>eval(mod_pagespeed_GIrE68D1a2);</script> -->
   
   <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
   <script defer src="../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6721825908f23224","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.7.0","si":10}'></script> -->
   <!-- </body>
   </html> -->